$soft-color: hsl(0, 94%, 66%);
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
font-size: 18px;
font-family: 'Courier New', Courier, monospace;
}



.item-nav{
    margin-right: 5%!important;
}

.nav-sec{
    margin:10px !important;
}
.nav-link:hover{
    color: $soft-color !important;
}
.login-btn{
    background: $soft-color;
    color: #fff !important;
}

// header
#header{
    margin-top: 5%;
}

.header-line {
    
    font-size: 40px; 
    margin-top:10%;
    margin-left: 10%;
    font-weight: bold;
    line-height: 1em;

}
.header-line-para{
    font-size: 12px;
    margin-left: 10%;

}
.btn-btn{
    margin-left:10%;
}



// feature
#feature{
    margin-top: 5%;
}
.feature-para{
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
}
.nav-tabs{
    margin:0% 15%;
}
.feature-area{
    margin-top: 5%;
}
.feature-intro{
    font-size: 33px;
    font-weight: 400;
}
.nav-tabs .nav-link .active{
    border-bottom: 1px  $soft-color; 
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-bottom: 1px solid $soft-color !important;
}