$soft-color: hsl(0, 94%, 66%);
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
font-size: 18px;
font-family: 'Courier New', Courier, monospace;
overflow:hidden;
}



.item-nav{
    margin-right: 5%!important;
}

.nav-sec{
    margin:10px !important;
}
.nav-link:hover{
    color: $soft-color !important;
}
.login-btn{
    background: $soft-color;
    color: #fff !important;
}

// header
#header{
    margin-top: 5%;
}

.header-line {
    
    font-size: 28px; 
    margin-top:10%;
    margin-left: 15%;
    font-weight: bold;
    line-height: 1em;

}
.header-line-para{
    font-size: 10px;
    margin-left: 15%;

}